* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

body, html {
  color: #444444;
  font-size: 16px;
  line-height: 1.7;
  margin: 0;
  height: 100%;
  font-family: "Overpass", Sans-Serif;
  Font-Size: 17px;
}

a, a:hover {
  text-decoration: none;
  color: #ff5e57;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  padding: 60px 0;
}

.conteiner {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}

.splash {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 24px;
  background-image: url("https://i.postimg.cc/dVNhdbx8/monochrome-photo-of-yawning-lion-3651330.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.page-intro {
  margin: auto;
  text-align: center;
}

.main-title {
  margin: 0;
  font-weight: normal;
  color: white;
  font-family: "Permanent Marker", Cursive;
  font-size: 100px;
  word-spacing: 0.2em;
  text-shadow: 2px 4px 10px white;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 40px;
}

.main-subtitle {
  margin: 12px 0 60px 0;
  font-weight: bold;
  font-family: "Overpass", Sans-Serif;
  Font-Size: 17px;
  color: whitesmoke;
  text-shadow: 2px 4px 10px white;
}

.btn {
  padding: 18px 24px 18px 24px;
  font-size: 14px;
  background-color: #ff5e57;
  -webkit-box-shadow: 0 5px #bd0800;
          box-shadow: 0 5px #bd0800;
  color: #ffffff;
  border-radius: 40px;
}

.btn:hover {
  background-color: #f00a00;
  color: #ffffff;
}

.section-title {
  position: relative;
  margin: 0 0 60px 0;
  text-align: center;
  text-shadow: 2px 4px 10px white;
  background: rgba(0, 0, 0, 0.5);
  padding: 0;
}

.section-title:after {
  position: absolute;
  display: block;
  content: '';
  width: 50px;
  height: 5px;
  background: #ff5e57;
  left: 50%;
  bottom: -16px;
  margin-left: -30px;
}

.about {
  background-color: #f0f3f3;
}

.section-intro {
  margin: 36px 0 0 0;
  text-align: center;
}

.features-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features {
  text-align: center;
  margin: 24px 0 0 0;
}

.features i {
  width: 80px;
  height: 80px;
  line-height: 80px;
  color: #ffffff;
  font-size: 32px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.5);
}

.feature-title {
  margin: 24px 0 0 0;
  text-transform: uppercase;
}

.feature-description {
  margin: 24px 0 0 0;
  padding: 0 24px;
}

.statement {
  background-image: url("https://i.postimg.cc/prWDPPCr/brown-lion-2270848.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100hv;
}

.statement p {
  margin: 0;
  font-style: italic;
  font-size: xx-large;
  font-family: "Permanent Marker", Cursive;
  padding: 150px 0px 150px 0px;
  color: #f0f3f3;
  text-shadow: 2px 4px 10px black;
  text-align: center;
}

.quotes {
  text-align: center;
}

.quotes-wrapper {
  margin: 72px 0 0 0;
  text-shadow: 2px 4px 10px black;
}

.quote blockquote {
  padding: 0 36px;
}

.quote footer {
  margin: 24px 0 0 0;
}
/*# sourceMappingURL=style.css.map */