//3 oierwsze linie to stałe zmienne wykorzystywane w całympliku SCSS
//do obsługi potrzebny jest Live SASS Compiler i Live serwer
$color-main:  #ff5e57;
$color-backgound:#f0f3f3;
$color-text:#444444;
$color-spalsh:#f7f1e3;
//Fonty jako stała
$font-header: 'Permanent Marker', Cursive;
$font-text:'Overpass', Sans-Serif;

*{
    box-sizing: border-box;
}
*:focus{
    box-shadow:none;
}
body, html{
    color:$color-text;
    font-size: 16px;
    line-height: 1.7;
    margin: 0;
    height: 100%;
    font-family: $font-text;//wykorzystanie stałych 
    //Font-Family: 'Overpass', Sans-Serif;//Font Family i size ze strony reliabepsd.com
    Font-Size: 17px;//Font Family i size ze strony reliabepsd.com
}
a, a:hover{
    text-decoration: none;
    color: $color-main;
}
img{
    max-width: 100%;
    height: auto;
}
section{
    padding: 60px 0;
}
.conteiner{
    max-width: 980px;
    margin:0 auto;
    padding: 0 20px;
}
.splash{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 24px;
    background-image: url('https://i.postimg.cc/dVNhdbx8/monochrome-photo-of-yawning-lion-3651330.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;    
}
.page-intro{
    margin: auto;
    text-align: center;
}
.main-title{
    margin: 0;//marginesy
    font-weight: normal;//wielkosc czcionki bold, normal
    color: white;//kolor czcionki
    font-family: $font-header;//wykorzystanie font famuly ze stałych
    // Font-Family: 'Permanent Marker', Cursive;//Font Family i size ze strony reliabepsd.com
    font-size: 100px;//rozmiar czcionki
    word-spacing: 0.2em;//odstepy w teksie
    text-shadow: 2px 4px 10px white;//cien za testem
    background: rgba(0,0,0,0.5);//cieniowanie pod napisem
    border-radius: 40px;//zaikraglenie cieniowania podnapisem

}
.main-subtitle{
    margin: 12px 0 60px 0;
    font-weight: bold;
    font-family: $font-text;
    //Font-Family: 'Overpass', Sans-Serif;//Font Family i size ze strony reliabepsd.com
    Font-Size: 17px;//Font Family i size ze strony reliabepsd.com
    color: whitesmoke;
    text-shadow: 2px 4px 10px white;
}
.btn{//przycisk na stronie
    padding: 18px 24px 18px 24px;
    font-size: 14px;
    background-color: $color-main;//kolor tła z wykorzystaniem zmienny-stałych
    box-shadow: 0 5px darken($color-main, 30%);
    color: #ffffff;//kolortesktu
    border-radius: 40px;//zaikraglenie rogów przycisku
}
.btn:hover{//wyglad przycisku po najechani na niego myszką
    background-color: darken($color-main , 20%);
    color: #ffffff;
}
.section-title{
    position: relative;
    margin: 0 0 60px 0;
    text-align: center;
    text-shadow: 2px 4px 10px white;//cien za testem
    background: rgba(0,0,0,0.5);//cieniowanie pod napisem
    padding: 0;
}
.section-title:after{
    position: absolute;
    display: block;
    content:'';
    width: 50px;
    height: 5px;
    background: $color-main;
    left: 50%;
    bottom: -16px;
    margin-left: -30px;
}
.about{
    background-color: $color-backgound;
}
.section-intro{
    margin: 36px 0 0 0;
    text-align: center;
    
}
.features-wrapper{
    display: flex;
}
.features{
    // flex: 0 0 33.333333%;
    // max-width: 33.333333%;
    text-align: center;
    margin: 24px 0 0 0;
    
    
}
.features i{
    width: 80px;
    height: 80px;
    line-height: 80px;
    color: #ffffff;
    font-size: 32px;
    border-radius: 4px;
    background: rgba(0,0,0,0.5);//cieniowanie pod napisem
}
.feature-title{
    margin: 24px 0 0 0;
    text-transform: uppercase;
}
.feature-description{
    margin: 24px 0 0 0 ;
    padding: 0 24px;
}
.statement{
    background-image:url('https://i.postimg.cc/prWDPPCr/brown-lion-2270848.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;// Efekt parallax - nieruchome tło sekcji :D WYPAS 
    height: 100hv;
}
.statement p{
    margin: 0;
    font-style: italic;
    font-size: xx-large;
    font-family: $font-header;
    padding: 150px 0px 150px 0px;
    color: $color-backgound;
    text-shadow: 2px 4px 10px black;
    text-align: center;
}